.hero {
  @apply flex flex-col md:flex-row container 
  pb-10 mx-auto bg-lime-50;
}

.hero > .right {
  @apply w-full md:w-1/2 flex grow px-4 text-gray-800;
}

.hero > .left {
  @apply w-full md:w-1/2 flex grow relative overflow-hidden;
}

.back {
  @apply hidden md:flex grow;
}

.process {
  @apply bg-lime-50 relative max-w-7xl mx-auto;
}

.inst {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 px-10 pt-10 pb-20;
}

.inst-cont {
  border-radius: 50px;
  background: #f7fee7;
  box-shadow: 20px 20px 83px #8d9184, -20px -20px 83px #ffffff;
  @apply bg-white z-10 flex-1 rounded-2xl px-5 py-10;
}

.inst-cont > h3 {
  @apply w-full font-bold text-xl text-center 
  text-gray-800 px-6;
}

.inst-cont > .image {
  @apply relative w-28 h-28 my-5 mx-auto;
}
