.rates-page {
  caret-color: transparent;
  @apply min-h-screen text-gray-800 pt-8 px-4 pb-8;
}

.rates-page > section {
  background: #ffffff;
  box-shadow: 20px 20px 65px #bababa, -20px -20px 65px #ffffff;
  @apply h-full px-10 py-12 rounded-xl my-10;
}

.rates-page h3 {
  @apply font-normal text-xl;
}

.rates-page h6 {
  @apply font-semibold text-sm text-gray-400 uppercase;
}

.rates__table{
  @apply flex flex-col;
}

.rates__table table{
  @apply min-w-full;
}

.rates__table table > thead{
  @apply border-b border-lime-100;
}

.rates__table table > thead > tr > th{
  @apply text-sm font-medium text-emerald-900 px-0 sm:px-2 md:px-6 py-4 text-left;
}

.rates__table table > thead > tr > th:nth-child(2){
  @apply text-center;
}

.rates__table table > tbody > tr:nth-child(even){
  @apply bg-gray-100;
}

.rates__table table > tbody > tr {
  @apply transition duration-300 ease-in-out hover:bg-green-50;
}

.rates__table table > tbody > tr:last-child {
  @apply border-0;
}

.rates__table table > tbody > tr > td{
  @apply text-sm text-gray-900 font-light px-1 sm:px-2 md:px-6 py-4 whitespace-nowrap;
}

.rates__table table > tbody > tr > td:first-child{
  @apply whitespace-normal;
}

.rates__table table > tbody > tr > td:nth-child(2){
  @apply text-center font-semibold;
}

.rates__table table > tbody > tr > td:last-child{
  @apply uppercase font-bold tracking-wide;
}

.rates__table table > tbody > tr > td:last-child.pending{
  @apply text-blue-700;
}

.rates__table table > tbody > tr > td:last-child.scheduled{
  @apply text-pink-500;
}

.rates__table table > tbody > tr > td:last-child.completed{
  @apply text-emerald-500;
}

